package user

import (
    "github.com/kelbwah/swiftlio/view/layout"
    "github.com/kelbwah/swiftlio/model"
)

templ Show(user model.User) {
    @layout.Base() {
        <h1 class="text-blue-500 text-5xl">Hello {user.Email}! This is the user pages</h1>
    }
}
