package dashboard 

import "github.com/kelbwah/swiftlio/view/layout"

templ Show() {
    @layout.Base() {
        <div class="flex flex-col gap-6">
            <h1>This is the dashboard page!</h1>
        </div>
    }
}
